{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if not request.user.is_authenticated %}
        <div class="mb-3">
            <label for="name" class="form-label">Имя</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
    {% endif %}
    <div class="mb-3">
        <label for="comment_text" class="form-label">Коментарий</label>
        <textarea name="comment_text" id="comment_text" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Оставить коментарий</button>
</form>
